<?xml version="1.0"?>
<configuration>
  
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Urna.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
  
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
</startup>

<applicationSettings>
    <Urna.Properties.Settings>
        <setting name="projetos" serializeAs="Xml">
            <value>
                <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                    <string>001</string>
                    <string>002</string>
                    <string>003</string>
                    <string>004</string>
                    <string>005</string>
                    <string>006</string>
                    <string>007</string>
                    <string>008</string>
                    <string>009</string>
                    <string>010</string>
                    <string>011</string>
                    <string>012</string>
                    <string>013</string>
                    <string>014</string>
                    <string>015</string>
                    <string>016</string>
                    <string>017</string>
                    <string>018</string>
                </ArrayOfString>
            </value>
        </setting>
        <setting name="mostrargeracpf" serializeAs="String">
            <value>false</value>
        </setting>
    </Urna.Properties.Settings>
</applicationSettings>
 
</configuration>
